.nav-link-custom {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Underline on hover */
.nav-link-custom:hover::after,
.nav-link-custom.active-link::after {
  width: 100%;
}

.nav-link-custom::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #800080; /* Purple underline */
  transition: width 0.3s ease;
}

/* Optional: Change color when active */
.nav-link-custom.active-link {
  color: #800080;
  font-weight: 600;
}
